* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  margin: 50px auto;
  padding: 25px 10px;
  border-radius: 15px;
}
.title {
  font-size: 2rem;
  color: #ebfffc;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 7px;
  font-family: "Raleway", sans-serif;
}
.author {
  font-size: 1rem;
  color: #ebfffc;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-top: 4px;
  padding: 3px 0;
  font-style: italic;
  text-align: center;
}
#input-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}
#input-field {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 1.1rem;
  height: 50px;
}
#input-field::placeholder {
  font-style: italic;
}
#search-btn {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#search-btn:focus {
  outline: none;
}
#search-btn:hover {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.btn-img {
  width: 18px;
}

.weather-details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#weather-img {
  width: 240px;
  height: 240px;
}
#weather-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
  text-align: center;
}
#weather-text {
  font-size: 2.5rem;
  color: #ebfffc;
  font-family: "Raleway", sans-serif;
}
#temp {
  font-size: 2.9rem;
}
#weather-type {
  font-size: 1.6rem;
  text-align: center;
  justify-content: center;
  color: #ebfffc;
}
.bracket {
  font-size: 2rem;
  color: #ebfffc;
}
#city-name {
  font-size: 1.8rem;
  color: #ebfffc;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
#date-time {
  font-size: 1.3rem;
  color: #ebfffc;
}
#Weather-type-Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
  margin-top: 5px;
  padding: 10px 0;
}
.condition-container {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  margin-top: 5px;
}
.condition-img {
  width: 35px;
}
.condition {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ebfffc;
}
.condition-text {
  font-weight: 400;
  color: #f2f2f2;
}
#error {
  font-size: 1.5rem;
  color: #fc0339;
  padding: 30px 0;
  display: none;
  text-align: center;
}

/* ============ Responsive Design =========== */
@media screen and (max-width: 400px) {
  .main-container {
    width: 100%;
  }
  .container {
    width: 95%;
    max-width: auto;
    background: linear-gradient(135deg, #00feba, #5b548a);
    margin: 7px auto;
    padding: 10px;
  }
  .title {
    font-size: 1.6rem;
  }
  .author {
    font-size: 0.9rem;
    text-align: center;
  }
  #input-container {
    flex-direction: column;
    gap: 10px;
  }
  #weather-img {
    width: 180px;
    height: 180px;
  }
  #weather-text {
    font-size: 2rem;
  }

  #temp {
    font-size: 2.7rem;
  }

  #weather-type {
    font-size: 1.4rem;
  }

  #city-name {
    font-size: 1.6rem;
  }

  #date-time {
    font-size: 1rem;
  }
  .condition-container {
    flex-direction: column;
    align-items: center;
  }

  .condition-img {
    width: 50px;
  }

  .condition {
    font-size: 1.6rem;
    text-align: center;
  }

  .condition-text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    max-width: 600px;
    padding: 20px;
    margin: 10px auto;
  }
}
