* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  margin: 50px auto;
  padding: 25px 10px;
  border-radius: 15px;
}
.title {
  font-size: 1.9rem;
  color: #ebfffc;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 7px;
}
.author {
  font-size: 1rem;
  font-style: italic;
  color: #eb6e4b;
}
#input-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
}
#input-field {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 1.1rem;
  height: 50px;
}
#input-field::placeholder {
  font-style: italic;
}
#search-btn {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
#search-btn:hover {
  background-color: #eb6e4b;
}

.btn-img {
  width: 18px;
}
#weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#weather-img {
  width: 240px;
  height: 240px;
}
#weather-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 10px;
}
#weather-text {
  font-size: 2.5rem;
  color: #ebfffc;
}
#temp {
  font-size: 2.9rem;
}
#weather-type {
  font-size: 1.6rem;
  text-align: center;
  color: #ebfffc;
}
.bracket {
  font-size: 2rem;
  color: #ebfffc;
}
#city-name {
  font-size: 1.8rem;
  color: #ebfffc;
  margin-bottom: 5px;
  font-weight: 500;
}
#date-time {
  font-size: 1.3rem;
  color: #ebfffc;
}
#Weather-type-Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 100%;
  margin-top: 5px;
  padding: 10px 0;
}
.condition-container {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  margin-top: 5px;
}
.condition-img {
  width: 35px;
}
.condition {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ebfffc;
}
.condition-text {
  font-weight: 400;
  color: #f2f2f2;
}
